body {overflow: hidden;}
#circuit-background {width: 100%}
#circuit-background-cover { position: absolute; top: 50%; left: 50%; margin-left: -100px; margin-top: -100px; background: rgba(255, 255, 255, .9); height: 200px; width: 200px; border-radius: 100px}
#circuit-background-cover ul {padding: 0;}
#circuit-background-cover li {list-style:none;}

.path {position: absolute; overflow: hidden; background: transparent; z-index: -1;}
.vertical-path {border-top: solid 4px #2E4272; border-bottom: solid 4px #2E4272; width: 4px;}
.vertical-path span {position: absolute;width: 4px; height: 100px;}
.horizontal-path {border-left: solid 4px #2E4272; border-right: solid 4px #2E4272; height: 4px; }
.horizontal-path span {position: absolute;height: 4px; width: 100px;}
.path span {animation-timing-function: linear;-webkit-animation-timing-function: linear; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite;}
.moving-up { background: linear-gradient(#7887AB, rgba(0,0,0,0)); border-top: solid 4px #7887AB; animation-name: animate-up; -webkit-animation-name: animate-up;}
.moving-down { background: linear-gradient(rgba(0,0,0,0), #7887AB); border-bottom: solid 4px #7887AB; animation-name: animate-down; -webkit-animation-name: animate-down;}
.moving-left { background: linear-gradient(90deg, #7887AB, rgba(0,0,0,0)); border-left: solid 4px #7887AB; animation-name: animate-left; -webkit-animation-name: animate-left;}
.moving-right { background: linear-gradient(90deg, rgba(0,0,0,0), #7887AB); border-right: solid 4px #7887AB; animation-name: animate-right; -webkit-animation-name: animate-right;}

@keyframes animate-up {
    0%  {bottom: -100px; }
    100%{bottom: 100%; }
}
@-webkit-keyframes animate-up {
    0%  {bottom: -100px; }
    100%{bottom: 100%; }
}

@keyframes animate-down {
    0%  {top: -100px; }
    100%{top: 100%; }
}
@-webkit-keyframes animate-down {
    0%  {top: -100px; }
    100%{top: 100%; }
}

@keyframes animate-left {
    0%  {right: -100px; }
    100%{right: 100%; }
}
@-webkit-keyframes animate-left {
    0%  {right: -100px; }
    100%{right: 100%; }
}

@keyframes animate-right {
    0%  {left: -100px; }
    100%{left: 100%; }
}
@-webkit-keyframes animate-right {
    0%  {left: -100px; }
    100%{left: 100%; }
}