h1 {text-align: center;}
.large-margin-top {margin-top: 75px;}

.centered {text-align: center;}

.input-row,
.footer {margin-top: 45px; margin-bottom: 45px;}

.input-row > div {margin-top: 15px;}
.input-group-addon {border-left: none;}

.tab-pane .input-group,
.tab-pane .radio-group {padding: 8px 0;}
.tab-pane .radio-group {border-bottom: 1px solid #ccc}
.tab-pane .radio-group label {margin-right: 10px;}

label {margin-bottom: 0;color:rgba(85, 85, 85, .5);}

input[type="radio"][value="on"]:checked ~ label,
.filter-on {color:#449d44; font-weight: bold;}
input[type="radio"][value="off"]:checked ~ label,
.filter-off {color:#d9534f; font-weight: bold;}
input[type="radio"][value=""]:checked ~ label,
.filter-either {color:#555;}

#ingredient-labels .filter-on:before {content: "Has to have ";}
#recipe-labels .filter-on:before {content: "Has to be ";}

#ingredient-labels .filter-off:before {content: "Cannot have ";}
#recipe-labels .filter-off:before {content: "Cannot be ";}

#ingredient-labels .filter-either:before {content: "May have ";}
#recipe-labels .filter-either:before {content: "May be ";}
