/* color HEX values in XML
<color name="brown">#AA6C39</color>
<color name="brown_lighter">#D49A6A</color>
<color name="brown_lightest">#FFD1AA</color>
<color name="brown_darker">#804515</color>
<color name="brown_darkest">#552600</color>

<color name="blue">#2E4272</color>
<color name="blue_lighter">#4F618F</color>
<color name="blue_lightest">#7887AB</color>
<color name="blue_darker">#162856</color>
<color name="blue_darkest">#061539</color>

<color name="green">#328A2E</color>
<color name="green_lighter">#5AAC56</color>
<color name="green_lightest">#8DCF8A</color>
<color name="green_darker">#166711</color>
<color name="green_darkest">#034500</color>
*/

body {background: linear-gradient(#b6c3e2, white);}
body {background-color: transparent;}
div, ul, li, a {box-sizing: border-box;}
img {max-width: 100%;}


/* Various */
h1 {text-align: center;}
.large-margin-top {margin-top: 75px;}
.input-row,
#footer {margin-top: 45px; margin-bottom: 45px;}
.table {background: #fff}
.table>tbody>tr>td {vertical-align: middle;}

.input-row > div {margin-top: 15px;}
.input-group-addon {border-left: none;}

/* Font Styles */
#title {font-family:"Courier New" serif; color: #162856;}
h1,
h2,
h3,
h4,
h5,
h6 {font-family:"Arial Black", Gadget, sans-serif; color: #162856;}
h1,
h2 {text-align: center;}
h2 { margin-top: 4em;}
div,
p,
em,
strong,
#subtitle,
a,
a:visited
a:link {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
a,
a:visited
a:link {font-weight: bold;color: #162856;}
p {line-height: 1.4em; }
.subheader {font-size: 1.6em; text-align: center; margin: 1em 0;}

/* Helpers */
.center {text-align: center; margin: 0 auto;}
.left {float: left;}
.right {float: right;}
.indented {text-indent: 32px;}
.clearfix:after {display: table; content: ''; clear: both;}
.hidden {display: none;}

/* Content panes */
#header,
#footer,
.content {width: 100%; max-width: 1400px; min-width: 320px;}
#header,
#footer {text-align: center; margin: 0 auto; }

/* Navbar */
.navbar {background-color: #061539; border: none;}

/* Header */
#header {padding: 1em 0 0; }
#title,
#subtitle {font-weight: bold;}
#title {font-size: 48px; text-decoration: none; display: inline-block;}
#title img {vertical-align: middle; margin-right: 12px; height: 64px; width: 64px;}
#subtitle { font-size: 16px; margin: 1.5em 0;}

/* Footer */
#footer {padding: 1em 0;}
#footer a {font-size: 1em; margin: 1em;}
#footer p {font-size: .8em}
#footer ul {margin: 3em 0; list-style: none; padding: 0; display: inline-block;}
#footer ul li {display: table-cell;}

/* Home page */
.badge-container {text-align: center; font-size: 0; margin: 1em 0;}
.badge-container img {height: 45px; margin: 16px;}

/* Applications */
.button-description {vertical-align: middle; padding: 1.5em 0;}
.button-description img {width: 64px; float: left;}
.button-description div {width: calc(100% - 80px); float: left; padding-left: 16px;}
.button-description p,
.button-description h4 {margin: 0;}
.button-description:after {display: table; content: ''; clear: both;}

.music-home-header:before {content: url("/assets/img/music_home/icon.png");}

.screenshot {width: 23%; margin: 1em 1% 2em; float: left;}
.screenshot.landscape {width: 48%;}
.screenshot * {text-align: center;}

@media screen and (min-width: 768px) {
	#header i {display: none;}
	#nav ul #nav-close-item {display: none;}
}

@media screen and (max-width: 767px) {
	/* Header */
	#header { width: 100%; background: #8DCF8A; position: fixed; top: 0; left: 0;font-size: 24px; padding: 0;}
	#header i {color:#162856; font-size: 1.33em; position: fixed; top: 0; padding: 6px; cursor: pointer;}
	#header i:first-child {left: 0;}
	#header i:last-child {right: 0;}
	#title {font-size: 24px; line-height: 48px;}
	#title img {height: 36px; width: 36px; padding: 4px 0;}
	#subtitle {display: none;}

	#nav { border-right: solid 1px #162856; height: 100%; width: 66.67%; position: fixed; left: -66.67%; top: 0;}
	#nav ul li,
	.nav-tabs ul li {display: block; border-bottom: solid 1px #162856;}

	.screenshot {width: 48%;}
	.screenshot.landscape {width: 98%;}
}

@media screen and (max-width: 480px) {
	.screenshot {width: 98%;}

	#footer ul li {display: block; margin: 1em 0;}

}

/* Circuit background styling */
/*.path {position: absolute; overflow: hidden; background: transparent;}
.vertical-path {border-top: solid 4px #2E4272; border-bottom: solid 4px #2E4272; width: 4px;}
.vertical-path span {position: absolute;width: 4px; height: 100px;}
.horizontal-path {border-left: solid 4px #2E4272; border-right: solid 4px #2E4272; height: 4px; }
.horizontal-path span {position: absolute;height: 4px; width: 100px;}
.path span {animation-timing-function: linear;-webkit-animation-timing-function: linear; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite;}
.moving-up { background: linear-gradient(#7887AB, rgba(0,0,0,0)); border-top: solid 4px #7887AB; animation-name: animate-up; -webkit-animation-name: animate-up;}
.moving-down { background: linear-gradient(rgba(0,0,0,0), #7887AB); border-bottom: solid 4px #7887AB; animation-name: animate-down; -webkit-animation-name: animate-down;}
.moving-left { background: linear-gradient(90deg, #7887AB, rgba(0,0,0,0)); border-left: solid 4px #7887AB; animation-name: animate-left; -webkit-animation-name: animate-left;}
.moving-right { background: linear-gradient(90deg, rgba(0,0,0,0), #7887AB); border-right: solid 4px #7887AB; animation-name: animate-right; -webkit-animation-name: animate-right;}

@keyframes animate-up {
0%  {bottom: -100px; }
100%{bottom: 100%; }
}
@-webkit-keyframes animate-up {
0%  {bottom: -100px; }
100%{bottom: 100%; }
}

@keyframes animate-down {
0%  {top: -100px; }
100%{top: 100%; }
}
@-webkit-keyframes animate-down {
0%  {top: -100px; }
100%{top: 100%; }
}

@keyframes animate-left {
0%  {right: -100px; }
100%{right: 100%; }
}
@-webkit-keyframes animate-left {
0%  {right: -100px; }
100%{right: 100%; }
}

@keyframes animate-right {
0%  {left: -100px; }
100%{left: 100%; }
}
@-webkit-keyframes animate-right {
0%  {left: -100px; }
100%{left: 100%; }
}
*/

/* view-recipes.py */

.tab-pane .input-group,
.tab-pane .radio-group {padding: 8px 0;}
.tab-pane .radio-group {border-bottom: 1px solid #ccc}
.tab-pane .radio-group label {margin-right: 10px;}

label {margin-bottom: 0;color:rgba(85, 85, 85, .5);}

input[type="radio"][value="on"]:checked ~ label,
.filter-on {color:#449d44; font-weight: bold;}
input[type="radio"][value="off"]:checked ~ label,
.filter-off {color:#d9534f; font-weight: bold;}
input[type="radio"][value=""]:checked ~ label,
.filter-either {color:#555;}

#ingredient-labels .filter-on:before {content: "Has to have ";}
#recipe-labels .filter-on:before {content: "Has to be ";}

#ingredient-labels .filter-off:before {content: "Cannot have ";}
#recipe-labels .filter-off:before {content: "Cannot be ";}

#ingredient-labels .filter-either:before {content: "May have ";}
#recipe-labels .filter-either:before {content: "May be ";}
