</div>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Kevin Broh-Kahn</a>
		</div>

		<div class="collapse navbar-collapse" id="main-navbar">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/apps/ratfink">Ratfink</a></li>
						<li><a href="/apps/music_home">Music Home</a></li>
						<li><a href="/apps/wbc">WBC</a></li>
						<li><a href="/apps/prezcon">Prezcon</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="/apps/">All apps</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/projects/view-recipes">Browse Recipes</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="/projects/">All projects</a></li>
					</ul>
				</li>
				<li><a href="contact.py">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="content container-fluid">
